@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style: none;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: inherit;
}
/*Se quiser fazer Comentários CSS */
button {
    padding: 10px 15px;
    border-radius: 8px;
    font-weight: bold;
    border: 0;
    background: #30f100;
    color: rgb(8, 23, 233);
}

header {
    background: no-repeat center/cover url("assets/tailandia.jpg");
    height: calc(100vh - 100px);
}

header nav {
    display: flex;
    justify-content: space-between;
    margin: auto 90px;
}

header nav ul {
    display: flex;
}

header nav ul li {
    margin: 0 15px;
}

header nav p {
    font-weight: bold;
}

.header-content {
    max-width: 400px;
    margin: 150px auto;
    text-align: center;
    background-color: rgba(12, 44, 131, 0.349);
}

.header-content h1 {
    margin-bottom: 10px;
    font-size: 3rem;
}

.pacotes .pacotes-title {
    width: 100%;
    text-align: center;
    margin:25px 0;
    font-size: 3rem;
    color: #30f100;
}

.pacotes {
    background: no-repeat center/cover url("assets/796228.jpg");
    background-size: 2450px;
    padding: 15px;

}

.pacotes .pacotes-card {
    display: flex;
    margin: auto;
    max-width: 950px;
    flex-wrap: wrap;
    justify-content: center;
}

.pacotes .card-image {
    width: 250px;
    height: 200px;
    border-radius: 24px 0 0 0;
}

.pacotes .card {
    width: 250px;
    height: 350px;
    background: rgb(54, 3, 238);
    border-radius: 24px 0;
    margin: 25px;
    position: relative;
}

.pacotes .card-content {
    padding: 0 15px;
}

.pacotes .card-content ul {
    display: flex;
    flex-direction: column;
    padding: 0;
}

.pacotes .card-content ul li {
    font-size: 0.6rem;
    display: flex;
    align-items: center;
    margin: 3px 0;
    color: grey;
    font-weight: bold;
}

.pacotes .card-content li svg {
    width: 16px;
    height: 16px;
    margin-right: 10px;
}

.pacotes .card-content h1 {
    font-size: 1rem;
}

.pacotes .card .card-tag-top {
    position: absolute;
    right: 0;
    top: 15px;
    background: #e0d20d;
    border-radius: 8px 0 0 8px;
    padding: 5px 10px;
}

.pacotes .card .card-tag-bottom {
    position: absolute;
    left: 0;
    top: 160px;
    background: #1ddd37;
    border-radius: 8px 0 0 8px;
    padding: 5px 10px;
}

.pacotes .card .card-tag p {
    margin:0;
    font-size: 0.8rem;
    color: white;
    font-weight: bold;
}
.servicos {
    background: no-repeat center/cover url("assets/dark.jpg");
}
.servicos .servicos-title {
    text-align: center;
    margin: 35px 0;
    background: #16f802;
    
}

.servicos .servicos-cards {
    margin-top:  25px;
    display: flex;
    max-width: 950px;
    justify-content:  center;
    margin: auto;
    background: #f8f8f8;

}

.servicos .card {
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
    background: #0206ff;
}

.serviços .card svg {
    width: 60px;
    height: 60px;
    margin: 50px;
}

.servicos .card svg:hover {
    stroke: blue;
    transform: scale(1.1);
}

.servicos .card h3 {
    font-weight: bold;
}

.servicos .card p {
    color: rgb(10, 0, 0);
    font-size: 0.8rem;
    text-align: center;
}

.servicos .card .card-content {
    height: 180px;
    text-align: center;
}

.contatos {
    height: 270px;
    justify-content: center;
    text-align: center;
}

 .fontes {
    height: 40px;
    color:rgb(243, 238, 238);
    font-size: 8px;
    background: black;
    justify-content: center;
}

.facebook {
    color: rgb(0, 0, 0);
    font-size: 8px;
    justify-content: center;
    background-color: rgb(3, 3, 211);
    

}

.twitter {
    color: rgb(0, 0, 0);
    font-size: 8px;
    justify-content: center;
    background-color: rgb(24, 190, 2);
}

.instagram {
    color: rgb(0, 0, 0);
    font-size: 8px;
    justify-content: center;
    background-color:#ffee00
}

.tel {
    color: rgb(255, 255, 255);
    font-size: 8px;
    justify-content: center;
    background-color:#000000

}